<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.message %></title>
    <link rel="stylesheet" href="/css/index.css"></link>
    <link rel="stylesheet" href="/css/views/message.css"></link>
</head>
<body>
    <header>
        <a href="/"><div class="logo">DMarket analysis tool</div></a>
        <div class="user-controls">
            <a href="/user/login"><button type="button">Log in</button></a>
            <a href="/user/signup"><button type="button">Sign up</button></a>
        </div>
    </header>
    <div class="main-section">
        <div class="message"><%= locals.message %></div>
    </div>
</body>
</html>